In [31]:
My first program

SyntaxError: invalid syntax (3994364586.py, line 1)

### My first program

In [ ]:
print("hello world")

In [ ]:
print("jayati")

In [ ]:
name="jayati"
age=20
income=0

In [ ]:
print(name)
print(age)
print(income)

In [ ]:
namelist="jayati","kanak"

In [ ]:
print(namelist)

In [ ]:
name+list="jayati","kanak"

In [ ]:
name_list="jayati","kanak"

In [ ]:
print(name_list)

In [ ]:
name_list="jayati","kanak"
name_list

In [ ]:
type("ai")

In [ ]:
x=10

In [ ]:
type(x)

In [ ]:
z=True
type(z)

In [ ]:
sample_list=[1,2,3,4,5,'hello',4.90,2.3]
sample_list
type(sample_list)

In [ ]:
type(sample_list)

In [28]:
type("ai")

TypeError: 'str' object is not callable

In [30]:
type( 10 )

TypeError: 'str' object is not callable

In [32]:
type("ai")

TypeError: 'str' object is not callable

In [1]:
sample_set={1,2,3,4,5,6.9,2.5,3.6,7.1,'hi','jayati','aeingela','kanak','cat'}

In [2]:
sample_set

{1, 2, 2.5, 3, 3.6, 4, 5, 6.9, 7.1, 'aeingela', 'cat', 'hi', 'jayati', 'kanak'}

In [3]:
sample_set[0]

TypeError: 'set' object is not subscriptable

In [4]:
sample_set[0]=1

TypeError: 'set' object does not support item assignment

In [5]:
sample_set.add(20)

In [6]:
sample_set

{1,
 2,
 2.5,
 20,
 3,
 3.6,
 4,
 5,
 6.9,
 7.1,
 'aeingela',
 'cat',
 'hi',
 'jayati',
 'kanak'}

In [7]:
sample_set.remove(3)

In [8]:
sample_set

{1,
 2,
 2.5,
 20,
 3.6,
 4,
 5,
 6.9,
 7.1,
 'aeingela',
 'cat',
 'hi',
 'jayati',
 'kanak'}

In [9]:
sample_set.remove('hi')

In [10]:
sample_set

{1, 2, 2.5, 20, 3.6, 4, 5, 6.9, 7.1, 'aeingela', 'cat', 'jayati', 'kanak'}

In [11]:
sample_set.add("priya")

In [12]:
sample_set

{1,
 2,
 2.5,
 20,
 3.6,
 4,
 5,
 6.9,
 7.1,
 'aeingela',
 'cat',
 'jayati',
 'kanak',
 'priya'}

In [13]:
sample_set.add(0)

In [14]:
sample_set

{0,
 1,
 2,
 2.5,
 20,
 3.6,
 4,
 5,
 6.9,
 7.1,
 'aeingela',
 'cat',
 'jayati',
 'kanak',
 'priya'}

In [15]:
sample_set.add(-100)

In [16]:
sample_set

{-100,
 0,
 1,
 2,
 2.5,
 20,
 3.6,
 4,
 5,
 6.9,
 7.1,
 'aeingela',
 'cat',
 'jayati',
 'kanak',
 'priya'}

In [17]:
sample_set.add(200)

In [18]:
sample_set

{-100,
 0,
 1,
 2,
 2.5,
 20,
 200,
 3.6,
 4,
 5,
 6.9,
 7.1,
 'aeingela',
 'cat',
 'jayati',
 'kanak',
 'priya'}

# set does not allow duplicates
## we cannot retrive the set using index
### set is mutable
# set has {}
# order of the set is - then so on

# dictionary
## value:key
## Indexing and square bracket
## mutable

In [19]:
jayati={'name':'jaya',"age": 20 ,"hobbies": ['dance','sing','swim'],24:45}

In [20]:
jayati

{'name': 'jaya', 'age': 20, 'hobbies': ['dance', 'sing', 'swim'], 24: 45}

In [21]:
jayati.[keys]

SyntaxError: invalid syntax (3494958431.py, line 1)

In [22]:
jayati[keys]

NameError: name 'keys' is not defined

In [23]:
jayati.keys()

dict_keys(['name', 'age', 'hobbies', 24])

In [24]:
jayati.values()

dict_values(['jaya', 20, ['dance', 'sing', 'swim'], 45])

In [25]:
jayati['name']='maya'

In [26]:
jayati

{'name': 'maya', 'age': 20, 'hobbies': ['dance', 'sing', 'swim'], 24: 45}

In [27]:
del jayati[24]

In [28]:
jayati

{'name': 'maya', 'age': 20, 'hobbies': ['dance', 'sing', 'swim']}

### adding a new value and key

In [29]:
jayati.update({'class':'ds'})

In [30]:
jayati

{'name': 'maya',
 'age': 20,
 'hobbies': ['dance', 'sing', 'swim'],
 'class': 'ds'}